.card-container {
    width: 28rem;
    height: 40rem;
    border: .2rem solid var(--color-4);
    background-image: url('../assets/img/pattern-card.jpg');
    background-size: 50%;
}

h2 {
    font-weight: 400;
    border-bottom: .1rem solid var(--color-3);
}

p {
    font-weight: 100;
    margin-bottom: .5rem;
}

.card {
    width: 26rem;
    height: 38rem;
    border: .2rem solid var(--color-4);
    background: var(--color-2);
}

.on  {
    display: block;
}

.off {
    display: none;
}


@media (max-width: 500px) {
    .card-container {
        scale: .8;
    }
}


