.header {
    width: 100%;
    height: 5rem;
    background-color: var(--color-4);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.121), rgba(0, 0, 0, 0.121));
}

.menu-container {
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
}

.menu-container img {
    margin-left: 2rem;
}
.menu {
    width: 17rem;
}

.hamburguer {
    height: 4rem;
    width: 4rem;
    border-left: .1rem solid var(--color-2);
    gap: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.hamburguer div {
    width: 50%;
    height: .1rem;
    background: var(--color-2);
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    margin-right: 3rem;
}

.btn-container a {
    color: var(--color-2);
    transition: .5s;
}
.btn-container a::after {
    content: '';
    position: relative;
    display: block;
    width: 0;
    height: 0.1rem;
    transition: .5s;
    background: var(--color-3);
    margin-top: -0.1rem;
}
.btn-container a:hover {
    color: var(--color-3);
}
.btn-container a:hover::after {
    width: 100%;
}

.btn-container .actual-page {
    color: var(--color-3);
}

@media (max-width: 600px) {
    .menu-container {
        align-items: flex-start;
    }

    .menu-container img {
        align-self: center;
    }
    .menu {
        height: 4rem;
        width: 6rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
        z-index: 0;
    }

    .menu:hover {
        height: 20rem;
    }

    .menu:hover .btn-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        top: 4.5rem;
        align-items: center;
        justify-content: space-around;
        height: 15rem;
        position: absolute;
        opacity: 1;
        transition: .3s;
        background: var(--color-4);
        margin-right: 0;
        z-index: 2;

    }

    .menu .btn-container a {
        width: 100%;
        height: calc(100% / 3);
    }
    .menu .btn-container a:hover {
        background: var(--color-2);
        color: var(--color-4);
    }

    .menu .btn-container a:hover::after {
        width: 0;
    }
    .menu .hamburguer div {
        transition: .5s;
    }
    .menu:hover .hamburguer div:nth-child(1){
        transform: rotate(45deg);
        position: relative;
        top: 0.7rem;
    }
    .menu:hover .hamburguer div:nth-child(2){
        opacity: 0;
        transition: 0;
    }
    .menu:hover .hamburguer div:nth-child(3){
        transform: rotate(-45deg);
        position: relative;
        top: -0.7rem;
    }
    .hamburguer {
        display: flex;
    }

    .btn-container {
        height: 0;
        opacity: 0;
    }
}

@media (max-width: 300px) {
    .menu-container img {
        width: 8rem;
    }
}