/* Imports*/
@import url('generalStyle.css');
@import url('menu.css');
@import url('card.css');
@import url('home.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* I define the variables */
:root {
    --color-1: #e2d7c3;
    --color-2: #EBE1CE;
    --color-3: #2D2827;
    --color-4: #ED3C1F;
}
